<!--<div class="col-md-offset-1 col-md-4">
  <form class="form-horizontal ">
    <div class="form-group">
      <label class="col-sm-2 control-label">Student id : </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="studentId" placeholder="Student id">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Student name : </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="studentName" placeholder="Name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Pen amount : </label>
      <div class="col-sm-10 form-inline">
        <button type="button" class="btn btn-primary btn-xs col-md-1 button-amount" (click)="downQuantity(student)">-
        </button>
        <input type="text" class="col-md-1 form-control input-amount" value="0">
        <button type="button" class="btn btn-primary btn-xs col-md-1 button-amount" (click)="upQuantity(student)">+
        </button>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">File input : </label>
      <div class="col-sm-10">
        <input type="file" class="btn btn-default" id="exampleInputFile">
        <p class="help-block">Leave here for the file preview later.</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Description : </label>
      <div class="col-sm-10">
        <textarea class="form-control" id="studentDescription" placeholder="Description" row="3"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Add</button>
      </div>
    </div>
  </form>
</div>-->

<mat-toolbar>
    <span>Add new student</span>
</mat-toolbar>
<form style="margin-left: 1em;">

    <mat-form-field class="full-width">
        <input matInput placeholder="Student Id">
    </mat-form-field>

    <table class="full-width">
        <tr>
            <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="First name">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Surname">
                </mat-form-field>
            </td>
        </tr>
        <div>
            <button mat-button class="center-button mat-raised-button mat-button-base" color="primary">-</button>
            <mat-form-field class="penInput">
                <input matInput class="center-text" placeholder="Pen Amount" value="0">
            </mat-form-field>
            <button mat-button class="center-button mat-raised-button mat-button-base" color="primary">+</button>
        </div>
    </table>

    <mat-form-field class="full-width">
        <input matInput placeholder="File name">
        <mat-hint>will change to the image uploader component later</mat-hint>
    </mat-form-field>



    <mat-form-field class="full-width">
        <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>

    <div class="center">
        <button mat-button class="mat-raised-button" color="primary">Add</button>
    </div>

</form>